{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie
{% endblock %}

{% block body %}
	<div id="creation-sortie"></div>
	<div class="container-fluid px-4 mt-4">
		<div class="text-center">
			<h2 class="section-heading text-uppercase">Créer une sortie</h2>
		</div>
		<div class="col-12 my-3">

			{{form_start(formulaire)}}

				<div class="d-flex">

					<div class="col-6">

						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.name)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.name)}}
								<div class="text-danger" font-size:'10px'>
									{{form_errors(formulaire.name)}}
								</div>
							</div>
						</div>
						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.startDateTime)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.startDateTime)}}
								<div class="text-danger" font-size:'10px'>
									{{form_errors(formulaire.startDateTime)}}
								</div>
							</div>

						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.endRegisterDate)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.endRegisterDate)}}
								<div class="text-danger" font-size:'10px'>
									{{form_errors(formulaire.endRegisterDate)}}
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.nbParticipantMax)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.nbParticipantMax)}}
								<div class="text-danger" font-size:'10px'>
									{{form_errors(formulaire.nbParticipantMax)}}
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.duration)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.duration)}}
								<div class="text-danger" font-size:'10px'>
									{{form_errors(formulaire.duration)}}
								</div>
							</div>
						</div>


						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.details)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.details)}}
								<div class="text-danger" font-size:'10px'>
									{{form_errors(formulaire.details)}}
								</div>
							</div>
						</div>

					</div>

					<div class="col-6">
						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.campus)}}
							</label>
							<div class="col-6">
								{{form_widget(formulaire.campus)}}
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Ville
							</label>
							<div class="col-6">
								{{form_widget(formulaire.city)}}
							</div>
						</div>


						<div class="form-group row">

							<label for="select" class="col-4 col-form-label">
								{{form_label(formulaire.location)}}
							</label>
							<div class="col-6" name="location" id="location">
								{{form_widget(formulaire.location)}}
								<div class="text-danger">
									{{form_errors(formulaire.location)}}
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Rue
							</label>
							<div class="col-6" name='streetView' id='streetView'></div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Code postal
							</label>
							<div class="col-6" name='codePostal' id='codePostal'></div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Latitude
							</label>
							<div class="col-6" name='latitude' id='latitude'></div>
						</div>
						<div class="form-group row">
							<label for="select" class="col-4 col-form-label">
								Longitude
							</label>
							<div class="col-6" name='longitude' id='longitude'></div>
						</div>
					</div>
				</div>

			<div class="my-4">
				<button class="btn btn-primary" type="submit">Créer la sortie
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</button>
				<button class="btn btn-success" type="submit">Publier la sortie
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</button>
				<a href="{{ path('home')}}" class="btn btn-warning">
					Annuler
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span>
				</a>
			</div>
			{{form_end(formulaire)}}
		</div>
	</div>


	<script>

		let cities = {};
let url = './api/';
fetch(url).then(res => res.json()).then(data => {
cities = data
afficherLocation(cities[0].id);

});


// Demander à afficher les bonnes Locations et le code postal à chaque changement de City
document.querySelector('#event_type_api_city').onchange = function () {
let cityId = document.querySelector('#event_type_api_city').value;
let locationId = document.querySelector('#event_type_api_location').value;
afficherLocation(cityId);
afficherCodePostal(cityId);
}


// alimenter select Location
function afficherLocation(cityId) {
let baliseLocation = document.querySelector('#event_type_api_location');

// vider la balise select du Location
baliseLocation.innerHTML = '';

// rechercher toutes les Locations correspondant à la city
for (let c of cities) {
if (c.id == cityId) {
for (let l of c.locations) {
let option = document.createElement('option'); // <option></option>
option.innerHTML = l.name;
// <option>Mairie</option>
option.setAttribute('value', l.id);
// <option value="1">Mairie</option>
baliseLocation.appendChild(option);
// permet de forcer manuellement la mise à jour de onChange de location
baliseLocation.onchange();
}
}
}
}


// Afficher le code postal lié à la City sélectionnée
function afficherCodePostal(cityId) {
let cp = document.querySelector('#codePostal');
if (cityId !== "") {
for (let c of cities) {
if (c.id == cityId) {
cp.innerHTML = c.postalCode;
}
}
} else {
document.querySelector('#codePostal').innerHTML = "";
document.querySelector('#streetView').innerHTML = "";
document.querySelector('#latitude').innerHTML = "";
document.querySelector('#longitude').innerHTML = "";
}
}


// Demander à afficher la rue, latitude et longitude de la Location choisie au moment du changement
document.querySelector('#event_type_api_location').onchange = function () {
let id = document.querySelector('#event_type_api_location').value;
let cityId = document.querySelector('#event_type_api_city').value;
afficherInfoLocation(id, cityId);
}


// Afficher les informations de la location sélectionnée
function afficherInfoLocation(locationId, cityId) {
let street = document.querySelector('#streetView');
let latitude = document.querySelector('#latitude');
let longitude = document.querySelector('#longitude');

for (let c of cities) {
if (c.id == cityId) {
for (let l of c.locations) {
if (l.id == locationId) {
street.innerHTML = l.street;
latitude.innerHTML = l.latitude;
longitude.innerHTML = l.longitude;
}
}
}
}
}
	</script>
{% endblock %}
