{% extends 'base.html.twig' %}
{% form_theme formulaire 'bootstrap_5_horizontal_layout.html.twig'%}
{% block title %}Mon Profil{% endblock %}

{% block body %}


    <div id="profil"></div>
    <div class="container my-4">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Mon profil</h2>
    </div>

    <div class= 'row'>
        <div class='col-4'>
            {% if app.user.imgName == null %}
            {% else %}
                <img class="logo" src="{{ asset('upload/')}}{{app.user.imgName}}" >
            {% endif %}
        </div>
        <div class="col-8 col-sm-8">
            {{ form_start (formulaire)}}
            {{ form_widget (formulaire)}}

                    <div class="my-4">
                        <button id="btn-enregistrer" type="submit" id="activateToast">Enregistrer
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span></button> 
                        <a href="{{ path('app_view_participant',{id:app.user.id})}}#profil" class="btn btn-warning"> Annuler
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"></span></a>
                    </div>
                    {{ form_end (formulaire)}}
            </div>
        </div>

</div>

{% endblock %}


